:root {
  --main-color: #0d89bb;
  --support-1: #87d7f6;
}
body {
  height: 100vh;
  padding: 50px;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--main-color);
}
nav a {
  color: white;
  text-decoration: none;
}
h3, form {
  padding: 10px;
}
.new-flight {
  font-size: 16px;
}
select, input {
  padding: 5px 8px;
  margin: 5px 0px;
  font-family: Helvetica, sans-serif;
}
.button {
  color: white;
  background-color: var(--support-1);
  border: 1px solid var(--support-1);
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}
.sort-options {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
table {
  text-align: center;
  border: 1px solid black;
}
th {
  background-color: var(--support-1);
  color: white;
  padding: 10px;
}

