:root {
  --main-color: #0d89bb;
  --support-1: #87d7f6;
}
body {
  height: 100vh;
  padding: 50px;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--main-color);
  padding: 10px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
h3, section, form, a {
  padding: 0px 15px;
}
.new-flight {
  font-size: 16px;
}
span {
  font-weight: 700;
}
select, input, button {
  padding: 3px 5px;
  margin: 0px;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
}
.button {
  color: black;
  background-color: var(--support-1);
  border: 1px solid var(--support-1);
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}
.sort-options {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
}
#delete-meal {
  color: var(--main-color);
  border: none;
}
a {
  text-decoration: none;
  color: var(--main-color);
  background-color: none;
  cursor: pointer;
}
table {
  text-align: center;
  border: 1px solid black;
}
th, #meal-options {
  background-color: var(--support-1);
  color: black;
  padding: 10px;
}
#destination-form, #meal-form {
  border: 1px solid black;
  max-width: 300px;
  margin: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
}
.table {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

